extends ../layout

block content
    fieldset
        legend
            h1 List of Posts
            a(href="/new_post") Add new posts
            .row
                each item in records
                    .col-lg-12
                        a(href="/view_post/"+item._id)
                            h3=item.title
                        p=item.body.substring(0,150)+" ..."
                        .modal-footer
                            small Nimatullah Razmjo

block scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $(".answer").on('click', function () {
                alert('response');
            })
        });
