html
    head
        title Fitness Records - Nimatullah
        link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
        link(href="/css/fitness.css", rel="stylesheet")
        //link(href="/css/custom.css", rel="stylesheet")
        //link(href="/toastr/toastr.min.css")
    body(ng-app="apps")
        div.wrapper
            div.navbar-header.col-md-2
                button.navbar-toggle.collapsed.is-open(type="button",data-toggle="collapse",data-target="#navbar_menu",aria-expanded="false",aria-controls="navbar")
                    span.line-top
                    span.line-middle
                    span.line-bottom
            nav.navbar-collapse.collapse#navbar_menu
                ul.nav.navbar-nav
                    li
                                a(href="/gallary", class="active") Home
                            li
                                a(href="/workouts") Workoutss
                            li
                                a(href="/blog") Blog
                            li
                                a(href="/contact-us") Contact Us
                            li
                                a(href="/about_us") About Us
            div.overlay

            nav.nav-wrapper.nan.navbar-fixed-top(role="navigation")
                .profile-userpic
                        img(src="/images/profiles.jpg",class="img img-responsive")

                .profile-usertitle
                    .profile-usertitle-name Nimatullah Razmjo
                    .profile-usertitle-job Fitness Trainer
                .profile-userbuttons
                    button.btn.btn-success.btn-sm Follow
                    button.btn.btn-danger.btn-sm Message
                ul.nav.sidebar-nav
                    li
                        a(href="/list_user") Users
                    li.dropdown
                        a.dropdown-toggle(href="#",data-toggle="dropdown") Users settings
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#home") Personal Information
                                    i(class="glyphicon glyphicon-log-out pull-right")
                            li
                                a(href="/gallary") Gallary
                                    i(class="glyphicon glyphicon-log-out pull-right")
                            li
                                a(href="#home") Logout
                                    i(class="glyphicon glyphicon-log-out pull-right")

            section.section-wrapper
                button.nav-show.is-open(data-toggle="offcanvas")
                    span.line-top
                    span.line-middle
                    span.line-bottom
                div.container-fluid.maincontent
                    .row
                        .col-md-12
                            block content

        //        footer.text-center.col-xs-12
        //            p &copy; 2016 Nimatullah Razmjo.
        include script
        .external_files
            block scripts
        script(type="text/javascript").
            var nav_button = $(".nav-show");
            var overlay = $(".overlay");
            var is_open = false;
            nav_button.on('click', function () {
                show_hide();
            });
            function show_hide() {
                if (is_open == false) {
                    overlay.show();
                    nav_button.removeClass("is-open");
                    nav_button.addClass("is-closed");
                    is_open = true;
                } else {
                    overlay.hide();
                    nav_button.removeClass("is-closed");
                    nav_button.addClass("is-open");
                    is_open = false;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $(".wrapper").toggleClass("toggle");
            });