html
    head
        title=title
        link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/fitness.css", rel="stylesheet")
    body
        .container
            h1
                a(href="") Fitness website
            .navbar
                .navbar-inner
                    .container
                        ul.nav
                            li(class="active")
                                a(href="#") Home
                            li
                                a(href="#") Contact Us
                            li
                                a(href="#") About Us



        include script

