html
    head
        title=title
        link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/fitness.css", rel="stylesheet")
    body
        .container-fluid
            header.navbar.navbar-inverse.navbar-fixed-top
                .navbar-header
                    a.navbar-brand(href="/") Fitness Records
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/", class="active") Home
                        li
                            a(href="/") About Us
                        li
                            a(href="/") Contact Us
                        li
                            a(href="/") Your Plan
            aside

            footer.text-center
                p &copy; 2016 Nimatullah Razmjo.
        include script

